<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="google-adsense-account" content="ca-pub-8269679070049349">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styless.css">

</head>
<body>
    <nav class="navbara">
        <div class="logoa">
           <h1>Portfilio</h1>
        </div>
        <ul class="nav-linksa">
            <li><a href="about">About</a></li>
            <li><a href="contact">Contact</a></li>
            <li><a href="home">Home</a></li>
        </ul>
        
    </nav>


    <section class="carda">
    <div class="abouta">
    <h1>About</h1>
    <p>A fresher with a BTech degree in full stack<br>
        development is proficient in both front-end<br>
        and back-end technologies.<br> They 
        typically have a solid foundation  in <br>
        HTML, CSS, JavaScript, and 
        frameworks<br> like React or Angular for front-end 
        development.</p>
    
    </div>
    <div class="abouta">
        <h1>Education </h1>
        <h3>Noida Institute of Engineering and Technology  
            </h3>
        <p>Bachelor of Technology CSE (Artificial Intelligence) .</p>
        <h3>Institute of Technology and Management 
           </h3>
        <p> Diploma In Engineering (Electrical Engineering).</p>
        <h3>Gagan Public School  
            </h3>
        <p> High School (CBSE).</p>

    </div>
    <div class="abouta">
        <h1>Skills</h1>
      <ol></ol>
      <li>HTML</li>
      <li>CSS</li>
      <li>NODE.js</li>
      <li>Java Script</li>
      <li>Python</li>
      
    </div>
    </section>

</body>
</html>